:root {
  background-color: #9ec99c;
  --song-element-padding: 10px;
}

html {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(12, 50px);
}

.headerGroup {
  grid-column: 5 / 10;
  text-align: center;
}

.title {
  text-align: center;
  grid-row: 1 /2;
}

.headerText {
  color: white;
  grid-row: 3 / 4;
}

.searchBar {
  grid-column: 6 / 9;
  grid-row: 5 / 6;
  margin: 0 30px;
  font-size: 24px;
}

.searchResultsHeader,
.playlistHeader {
  text-align: center;
  font-size: 20px;
}

/* Search Results */
.searchResultsContainer {
  grid-column: 3 / 7;
  grid-row: 7 / 8;
}
.song.searchResults {
  background-color: #f0eeb7;
}

/* Playlist */
.playlistContainer {
  grid-column: 8 / 12;
  grid-row: 7 / 8;
}
.song.playlist {
  background-color: #c8e2ee;
}

/* Song Item */
.song {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
}
.add-remove {
  grid-column: 1 / 2;
  padding: var(--song-element-padding);
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.songInfo {
  grid-column: 2 / 3;
  border-left: 1px solid rgb(172, 182, 173);
  border-right: 1px solid rgb(172, 182, 173);
  padding: var(--song-element-padding);
}
.bpm {
  grid-column: 3 / 4;
  padding: var(--song-element-padding);
}
