:root {
  background-color: #72b76c;

}

html {
  margin: 0;
  padding: 0;
}

.App {

}

h1 {
  text-align: center;
}

.header {
  text-align: center;
  color: white;
  margin: 0 40px;
}

.bpm-search {
  text-align: center;

}

input {
  margin-left: 40px;
  margin-top: 30px;
}