:root {
  background-color: #72b76c;
}

html {margin: 0;padding: 0;}

h1 {
  text-align: center;
}

input {
  margin-left: 40px;
  margin-top: 30px;
}

.results {
  margin-top: 40px;
  margin-left: 40px;
  max-width: 300px;
}

.searchItem {
  background-color: #f2f0a2;
  padding: 10px;
  margin: 20px;
}

.header {
  text-align: center;
  color: white;
  margin: 0 40px;
}

.bpm-search {
  text-align: center;
}


